<div>
<img src="https://i.ibb.co/v3CvVz9/udd-short.png" width="96"/>
    <br>
    <strong>Universidad del Desarrollo</strong><br>
    Magíster en Data Science<br>
    <em>Profesor: Víctor Navarro Aránguiz</em><br>

</div>

### Proyecto Final Python para Data Science
*Nombre Estudiante(s):* `Mariangel Arrieta`

`Introducción al análisis exploratorio de datos`

##### Importar Librerias

In [9]:
#importamos libreria
import pandas as pd

#importamos librerias de visualización
#import matplotlib.pyplot as plt
#import seaborn as sns

#Para mostrar todas las columnas en el df
pd.set_option('display.max_columns', None)

##### Cargar datos

In [10]:
# Ruta al archivo CSV en la carpeta data
file_path = '../data/online_course_engagement_data.csv'

# Leer el archivo CSV
df = pd.read_csv(file_path)

##### Recopilar información básica sobre los datos.

In [11]:
#Se describen las columnas de 'df' identificando el tipo de dato en cada una.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   UserID                 9000 non-null   int64
 1   CourseCategory         9000 non-null   object
 2   TimeSpentOnCourse      9000 non-null   float64
 3   NumberOfVideosWatched  9000 non-null   int64
 4   NumberOfQuizzesTaken   9000 non-null   int64
 5   QuizScores             9000 non-null   float64
 6   CompletionRate         9000 non-null   float64
 7   DeviceType             9000 non-null   int64
 8   CourseCompletion       9000 non-null   int64
dtypes: float64(3), int64(5), object(1)
memory usage: 632.9+ KB

*Que representan las columnas?*

###### UserID (int64) --> Identificador único para cada usuario  
###### CourseCategory (object) --> Categoría del curso tomado por el usuario (por ejemplo, Programación, Negocios, Artes)  
###### TimeSpentOnCourse (float64) --> Tiempo total dedicado por el usuario al curso en horas  
###### NumberOfVideosWatched (int64) --> Número de vídeos vistos  
###### NumberOfQuizzesTaken (int64) --> Número de pruebas realizadas  
###### QuizScores (float64) --> Puntuaciones del cuestionario  
###### CompletionRate (float64) --> Tasa de finalización  
###### DeviceType (int64) --> Tipo de dispositivo (0: Desktop, 1: Mobile)  
###### CourseCompletion (int64) --> Finalización del curso (0: No completado, 1: Completado)

In [12]:
#Dimensiones del df
df.shape

(9000, 9)

In [13]:
#Primeras 5 filas del df
df.head(10)

,UserID,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
0,5618,Health,29.979719,17,3,50.365656,20.860773,1,0
1,4326,Arts,27.802640,1,5,62.615970,65.632415,1,0
2,5849,Arts,86.820485,14,2,78.458962,63.812007,1,1
3,4992,Science,35.038427,17,10,59.198853,95.433162,0,1
4,3866,Programming,92.490647,16,0,98.428285,18.102478,0,0
5,8650,Health,79.466129,12,7,70.233329,76.484023,0,1
6,4321,Health,78.908724,10,2,86.836533,22.588896,1,0
7,4589,Business,12.068237,16,3,61.553646,27.410991,1,0
8,4215,Business,81.935709,8,4,90.264564,33.308437,0,1
9,8089,Programming,83.394026,15,10,63.956353,33.261300,1,0

In [14]:
#total de columnas
df.columns

Index(['UserID', 'CourseCategory', 'TimeSpentOnCourse',
       'NumberOfVideosWatched', 'NumberOfQuizzesTaken', 'QuizScores',
       'CompletionRate', 'DeviceType', 'CourseCompletion'],
      dtype='object')

In [15]:
#Total de elementos únicos por cada columna.
df.nunique()

UserID                   8123
CourseCategory              5
TimeSpentOnCourse        8123
NumberOfVideosWatched      21
NumberOfQuizzesTaken       11
QuizScores               8123
CompletionRate           8123
DeviceType                  2
CourseCompletion            2
dtype: int64

In [16]:
df.describe()

,UserID,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,4498.894556,50.163822,10.024667,5.090556,74.706028,50.340146,0.500667,0.396444
std,2596.849433,28.491750,6.029878,3.157762,14.378383,28.950977,0.500027,0.489186
min,1.000000,1.005230,0.000000,0.000000,50.005119,0.009327,0.000000,0.000000
25%,2251.750000,25.440548,5.000000,2.000000,62.283451,25.653614,0.000000,0.000000
50%,4483.500000,49.818417,10.000000,5.000000,74.743294,50.264124,1.000000,0.000000
75%,6751.250000,75.069924,15.000000,8.000000,87.022663,75.572493,1.000000,1.000000
max,9000.000000,99.992558,20.000000,10.000000,99.994984,99.979711,1.000000,1.000000