<div>
<img src="https://i.ibb.co/v3CvVz9/udd-short.png" width="96"/>
    <br>
    <strong>Universidad del Desarrollo</strong><br>
    Magíster en Data Science<br>
    <em>Profesor: Víctor Navarro Aránguiz</em><br>

</div>

### Proyecto Final Python para Data Science
*Nombre Estudiante(s):* `Mariangel Arrieta`

`Introducción al análisis exploratorio de datos`

##### Importar paquetes

In [14]:
#importamos libreria
import pandas as pd

#importamos librerias de visualización
#import matplotlib.pyplot as plt
#import seaborn as sns

#Para mostrar todas las columnas en el df
pd.set_option('display.max_columns', None)

##### Cargar datos

In [26]:
# Ruta al archivo CSV en la carpeta data
file_path = '../data/online_course_engagement_data.csv'

# Leer el archivo CSV
df = pd.read_csv(file_path)

##### Recopilar información básica sobre los datos.

In [27]:
#Se describen las columnas de 'df' identificando el tipo de dato en cada una.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   UserID                 9000 non-null   int64
 1   CourseCategory         9000 non-null   object
 2   TimeSpentOnCourse      9000 non-null   float64
 3   NumberOfVideosWatched  9000 non-null   int64
 4   NumberOfQuizzesTaken   9000 non-null   int64
 5   QuizScores             9000 non-null   float64
 6   CompletionRate         9000 non-null   float64
 7   DeviceType             9000 non-null   int64
 8   CourseCompletion       9000 non-null   int64
dtypes: float64(3), int64(5), object(1)
memory usage: 632.9+ KB

 *Que representan las columnas?*
 ###### UserID (int64)                --> Identificador único para cada usuario<br>
 ###### CourseCategory  (object)      --> Categoría del curso tomado por el usuario (por ejemplo, Programación, Negocios, Artes) <br>
 ###### TimeSpentOnCourse (float64)   --> Tiempo total dedicado por el usuario al curso en horas <br>
 ###### NumberOfVideosWatched (int64) --> Número de vídeos vistos <br>
 ###### NumberOfQuizzesTaken (int64)  --> Número de pruebas realizadas<br>
 ###### QuizScores  (float64)         --> Puntuaciones del cuestionario <br>
 ###### CompletionRate  (float64)     --> Tasa de finalización <br>
 ###### DeviceType (int64)            --> Tipo de dispositivo (0: Desktop, 1: Mobile)<br>
 ###### CourseCompletion (int64)      --> Finalización del curso (0: No completado, 1: Completado) <br>

In [34]:
#Dimensiones del df
df.shape

(9000, 9)

In [31]:
#Primeras 5 filas del df
df.head(5)

,UserID,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
0,5618,Health,29.979719,17,3,50.365656,20.860773,1,0
1,4326,Arts,27.802640,1,5,62.615970,65.632415,1,0
2,5849,Arts,86.820485,14,2,78.458962,63.812007,1,1
3,4992,Science,35.038427,17,10,59.198853,95.433162,0,1
4,3866,Programming,92.490647,16,0,98.428285,18.102478,0,0

In [35]:
df.columns

Index(['UserID', 'CourseCategory', 'TimeSpentOnCourse',
       'NumberOfVideosWatched', 'NumberOfQuizzesTaken', 'QuizScores',
       'CompletionRate', 'DeviceType', 'CourseCompletion'],
      dtype='object')